.main_table_section {
	width: 100%;
	display: flex;
	justify-content: space-between;
	.news_main_container {
		width: 60%;

		.news_header {
			background: $primary-color;
			display: flex;
			gap: 20px;
			height: 72px;
			border-radius: 4px 4px 0 0;
			overflow-x: auto;
			margin-bottom: 48px;
			.last_news {
				color: white;
				font-size: 30px;
				font-weight: 700;
				display: flex;
				align-items: center;
			}
			.span {
				width: 10px;
				background: #ea4335;
			}
		}

		.news_container {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 70px;
			.news_card {
				display: flex;
				justify-content: space-between;
				width: 100%;
				padding: 10px 23px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
				.image_container {
					width: 40%;
					border-radius: 8px;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}

				.title_container {
					width: 55%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					.time {
						font-size: 23px;
						color: #090f2d;
						font-weight: 500;
					}
					.title {
						font-size: 23px;
						color: #192355;
						font-weight: 700;
					}
					.subtitle {
						font-size: 20px;
						font-weight: 400;
						color: #192355;
					}
				}
			}
		}
		.button {
			margin: 40px 23px 0;
			padding: 8px 0;
			width: 40%;
			background: #192355;
			border-radius: 8px;
			font-size: 22px;
			font-weight: 600;
			color: white;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
		}
	}
	.table_container {
		width: 35%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}
